<mat-nav-list>
  <!-- /dashboard me llevara a /dashboard/home -->
  <mat-list-item routerLink="home">
    <a>Home</a>
  </mat-list-item>

  <mat-list-item routerLink="users" [activated]="true">
    <a>Usuarios</a>
  </mat-list-item>
  <mat-list-item routerLink="courses">
    <a>Cursos</a>
  </mat-list-item>
  <mat-list-item>
    <a>Alumnos</a>
  </mat-list-item>
  <mat-list-item>
    <a>Inscripciones</a>
  </mat-list-item>
  <mat-list-item (click)="logout()">
    <a>Cerrar sesión</a>
  </mat-list-item>
</mat-nav-list>
