   <mat-icon style="font-size: 40px; height: 40px; width: 40px;">
    face
   </mat-icon>


   <!-- CONTENEDOR DE LA CARD -->
   <div style="width: 200px;">
     <mat-card class="example-card">
      <!-- CARD HEADER -->
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <!-- IMG -->
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <!-- CARD CONTENT -->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <!-- CARD ACTIONS -->
      <mat-card-actions>
        <!-- COLORES DE ANGULAR MATERIAL -->
        <!--
          primary = color primario del tema
          accent = color secundario del tema
          warn = color para errores del tema
        -->
        <button mat-button color="primary">LIKE</button>
        <button mat-flat-button color="warn">SHARE</button>
      </mat-card-actions>

       </mat-card>
   </div>
