.example-container {
  height: 100vh;
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
